@font-face {
    font-family: 'Koruri';
    src: url('../fonts/WebKoruri.eot');
    src: url('../fonts/WebKoruri.eot?#iefix') format('embedded-opentype');
    src: url('../fonts/WebKoruri.woff') format('woff'),
         url('../fonts/WebKoruri.ttf') format('truetype');

    /*  for chrome  */
    src: url(../fonts/WebKoruri.woff) format('woff');

    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Koruri !important;
}
